.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiSlider-thumb{
  color: white;
}
.MuiSlider-rail{
  color:#3986FA;
}
.MuiSlider-track{
  color: #3986FA;
}

.search {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-small {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.search-icon-container {
  background-color: #3986FA;
  border-radius: 40px;
  width: 15%;
  margin: 1.5em;
  text-align: center;
}

.search-small-icon-container {
  background-color: #3986FA;
  border-radius: 40px;
  width: 15%;
  height: 6vh;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
